fastapi==0.116.2
uvicorn==0.35.0
SQLAlchemy==2.0.43
asyncpg==0.30.0
greenlet>=2.2.0
pydantic==2.11.9
pydantic_core==2.33.2
python-dotenv==1.1.1
bcrypt==5.0.0
email-validator==2.3.0
python-multipart==0.0.20
gunicorn==23.0.0
aio-pika==9.4.1
python-jose[cryptography]==3.3.0